.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 5rem auto 0rem auto;
    min-width: 300px;
}

.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card img{
    height: 350px;
    border: 1px solid rgb(44, 44, 44);
    border-radius: 5px;
    box-shadow: -1px 7px 16px 4px rgba(0,0,0,0.78);
}

.icons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.icons a{
    position: relative;
    width: 3rem;
    height: 3rem;
    border-radius: .5rem;
    background-position: center;
    background-size: 2.5rem;
    background-repeat: no-repeat;
    opacity: .8;
}

.icons a:hover{
    opacity: 1;
}

.github{
    background-image: url("/public/icons/github.svg");
}

.linkedin{
    background-image: url("/public/icons/linkedin.svg");
}

@media screen and (min-width: 1200px) {
    .card-container{
        justify-content: space-around;
        gap: 0;
    }
}