@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Raleway&family=Open+Sans');

*{
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Ubuntu';   
}

:root{
  --blue-50: #e8f0ff;
--blue-100: #d5e4ff;
--blue-200: #b3cbff;
--blue-300: #85a6ff;
--blue-400: #5673ff;
--blue-500: #2f41ff;
--blue-600: #0e0cff;
--blue-700: #0400ff;
--blue-800: #0606cd;
--blue-900: #10149f;
--blue-950: #0a0a5c;
--blue-1000: #050533;
}


body{
  margin: 0;
  background-color: var(--blue-200);
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
